<div class="header">
    <div class="container">
        <div class="top-menu">
            <div class="row">
                <div class="col-md-12">
                   <a href="{{ "/shklov" | prepend: site.baseurl}}"><h1>shklov</h1></a> 
                </div>
                <div class="top-sidebar">
                    <ol>
                        <li><a href="{{ "/index" | prepend: site.baseurl}}">home</a></li>
                        <li><a href="{{ "/java" | prepend: site.baseurl}}">java</a></li>
                        <li><a href="{{ "/live" | prepend: site.baseurl}}">live</a></li>
                        <li><a href="#">android</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>