<div class="sidebar">
    <div class="tegs">
        <h3>TEGS</h3>
        <ol>
            <li><a href="{{ "/index.html" | prepend: site.baseurl}}">home</a></li>
            <li><a href="#">android</a></li>
            <li><a href="{{ "/java.html" | prepend: site.baseurl}}">java</a></li>
            <li><a href="{{ "/live.html" | prepend: site.baseurl}}">live</a></li>
        </ol>
    </div>
<br>
    <div class="links">
        <h3>links</h3>
        <ol>
            <li><a href="#">github</a></li>
            <li><a href="https://vk.com/robinovsky" target="_blank">vk</a></li>
            <li><a href="#">telegram</a></li>
            <li><a href="https://twitter.com/vitalijrobin" target="_blank">twitter</a></li>
        </ol>
    </div>
</div>